.title {
    padding-top: 96px;
    padding-bottom: 160px;
    h2 {
        margin-bottom:60px;
        padding-left: 16px;
        border-left: 8px solid $title-border-color;
    }

    .qa {
       
        margin-top: 36px;
        p {
            margin-top: 16px;
            margin-bottom: 32px;
            margin-left: 95px;
            font-weight: normal;
            line-height: 1.5;
        }
    }

    @include mobile {
       
        h2{
            font-size: 28px;
            border-left: 4px solid $title-border-color;
        }

        h3 {
            font-size: 20px;
        }

        .qa {
            h4 {
                font-size: 16px;
            }
        
            p {
            margin-left: 0;
            }
          }
        }

}


