@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
.fw-bold {
  font-weight: bold; }

.text-center {
  text-align: center; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.fz-14 {
  font-size: 14px; }

.fz-16 {
  font-size: 16px; }

.fz-20 {
  font-size: 20px; }

.fz-24 {
  font-size: 24px; }

.fz-32 {
  font-size: 32px; }

.fz-36 {
  font-size: 36px; }

.fz-48 {
  font-size: 48px; }

.fz-64 {
  font-size: 64px; }

.fz-72 {
  font-size: 72px; }

.bg-primary-color {
  background-color: #AA0601; }

.bg-third-color {
  background-color: #AA06010D; }

.text-color-secondary {
  color: #FBF2F2; }

.text-color-dark {
  color: #650300; }

.text-color-light-dark {
  color: #AA0601; }

.text-gray {
  color: #707070; }

.material-icons-outlined.md-44 {
  font-size: 44px; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }
  @media (max-width: 992px) {
    .container {
      max-width: 992px;
      padding: 0 15px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 767px;
      padding: 0 15px; } }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Roboto','Noto Sans', serif; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  text-decoration: none;
  color: #FBF2F2; }
  a:hover {
    color: #f15a5a; }

header {
  padding: 0 88px; }
  header a {
    display: block; }
  header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 0 29.43px 0; }
    header .nav .logo a {
      width: 80px;
      height: 48.57px;
      background: url("../images/logo/logo.png") no-repeat; }
      header .nav .logo a h1 {
        text-indent: 101%;
        white-space: nowrap;
        overflow: hidden; }
    header .nav .nav-items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      header .nav .nav-items li {
        margin-right: 64px; }
      header .nav .nav-items li:last-child {
        margin-right: 0; }
  @media (max-width: 992px) {
    header {
      padding: 0; }
      header .nav {
        padding-left: 39px;
        padding-right: 39px; }
      header .banner-bg h2 {
        left: 297.5px;
        right: 38.5px;
        bottom: 373px;
        font-size: 48px; }
        header .banner-bg h2 span {
          font-size: 20px; } }
  @media (max-width: 767px) {
    header a {
      padding: 8px 50px; }
    header .nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0 0; }
      header .nav .logo a {
        width: 48px;
        height: 29.14px;
        background-size: contain;
        margin-top: 10px;
        margin-bottom: 10.86px;
        padding: 0; }
    header .nav .nav-items {
      width: 100%;
      text-align: center; }
    header .nav .nav-items li {
      width: 50%;
      margin-right: 0;
      border: 1px solid #FBF2F2;
      font-size: 20px; }
    header .banner-bg {
      background: url("../images/banner/banner-sm.png") no-repeat;
      background-size: cover;
      height: 394px; }
      header .banner-bg h2 {
        left: 72px;
        right: 15px;
        bottom: 163px;
        font-size: 32px; }
        header .banner-bg h2 span {
          font-size: 16px; } }

.footer {
  color: #FBF2F2; }
  @media (max-width: 767px) {
    .footer .container {
      position: relative; } }
  .footer .footer-top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer .footer-nav {
    padding: 44px 0;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
    .footer .footer-nav li {
      margin-right: 48px; }
    .footer .footer-nav li:last-child {
      margin-right: 0; }
    @media (max-width: 992px) {
      .footer .footer-nav li {
        margin-right: 40px; } }
    @media (max-width: 767px) {
      .footer .footer-nav li {
        display: none; } }
  .footer .footer-sns-link {
    padding-top: 32px; }
    .footer .footer-sns-link li {
      margin-right: 32px; }
    .footer .footer-sns-link li:last-child {
      margin-right: 0; }
    @media (max-width: 992px) {
      .footer .footer-sns-link li {
        width: 24px;
        margin-right: 40px; } }
  .footer .footer-contact {
    padding-bottom: 24px; }
    .footer .footer-contact li:nth-child(1) {
      margin-bottom: 16px; }
      .footer .footer-contact li:nth-child(1) img {
        margin-right: 22px; }
    .footer .footer-contact li:nth-child(2) img {
      margin-right: 20px; }
    @media (max-width: 992px) {
      .footer .footer-contact {
        padding-bottom: 20px;
        font-size: 20px; }
        .footer .footer-contact li:nth-child(1) {
          margin-bottom: 12px; }
          .footer .footer-contact li:nth-child(1) img {
            margin-right: 11px;
            width: 18px; }
        .footer .footer-contact li:nth-child(2) img {
          margin-right: 10px;
          width: 20px; } }
    @media (max-width: 767px) {
      .footer .footer-contact {
        position: absolute;
        top: 0;
        padding-top: 24px;
        padding-bottom: 25px;
        font-size: 16px; } }
  .footer .footer-copyright {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top: 1px solid #FBF2F2;
    padding-top: 32px;
    padding-bottom: 40px; }
    .footer .footer-copyright li:nth-child(1) {
      margin-right: 48px; }
    @media (max-width: 767px) {
      .footer .footer-copyright {
        font-size: 14px;
        padding-top: 16px;
        padding-bottom: 24px; }
        .footer .footer-copyright li, .footer .footer-copyright p {
          width: 100%;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          margin-bottom: 8px; }
          .footer .footer-copyright li a, .footer .footer-copyright p a {
            margin-bottom: 8px; } }

.banner-bg {
  background: url("../images/banner/banner.png") no-repeat center;
  width: 100%;
  height: 840px;
  position: relative; }
  .banner-bg h2 {
    text-align: right;
    position: absolute;
    left: 579px;
    right: 45px;
    bottom: 352px; }
  @media (max-width: 992px) {
    .banner-bg h2 {
      left: 297.5px;
      right: 38.5px;
      bottom: 373px;
      font-size: 48px; }
      .banner-bg h2 span {
        font-size: 20px; } }
  @media (max-width: 767px) {
    .banner-bg {
      background: url("../images/banner/banner-sm.png") no-repeat;
      background-size: cover;
      height: 394px; }
      .banner-bg h2 {
        left: 72px;
        right: 15px;
        bottom: 163px;
        font-size: 32px; }
        .banner-bg h2 span {
          font-size: 16px; } }

.feature {
  padding-top: 60px;
  padding-bottom: 80px; }
  .feature .feature-title {
    padding-bottom: 48.33px; }
    @media (max-width: 767px) {
      .feature .feature-title {
        font-size: 24px; } }
  .feature .feature-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .feature .feature-items li {
      width: 255px; }
      .feature .feature-items li h3 {
        margin-top: 24.08px;
        margin-bottom: 8px; }
      .feature .feature-items li p {
        text-align: left; }
    .feature .feature-items img {
      width: 83.33px;
      height: 83.33px; }
  @media (max-width: 992px) {
    .feature li {
      width: 50%;
      margin-right: 5%;
      margin-bottom: 5%; } }
  @media (max-width: 767px) {
    .feature h2 {
      font-size: 24px; }
    .feature li {
      width: 100%;
      margin-bottom: 10%; } }

.classical-glasses {
  padding-top: 60px;
  padding-bottom: 80px; }
  .classical-glasses h2 {
    margin-bottom: 40px; }
    @media (max-width: 767px) {
      .classical-glasses h2 {
        font-size: 20px;
        line-height: 48px; } }
  .classical-glasses .classical-glasses-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .classical-glasses .classical-glasses-items span {
      margin-right: 8px; }
    .classical-glasses .classical-glasses-items li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      margin-bottom: 32px; }
      @media (max-width: 767px) {
        .classical-glasses .classical-glasses-items li {
          position: relative;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; } }
      .classical-glasses .classical-glasses-items li img {
        width: 57%; }
        @media (max-width: 767px) {
          .classical-glasses .classical-glasses-items li img {
            width: 100%; } }
      .classical-glasses .classical-glasses-items li h3 {
        width: 43%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-left: 32px;
        font-style: italic;
        font-weight: 900; }
        @media (max-width: 992px) {
          .classical-glasses .classical-glasses-items li h3 {
            font-size: 28px; } }
        @media (max-width: 767px) {
          .classical-glasses .classical-glasses-items li h3 {
            position: absolute;
            line-height: 72px;
            padding-left: 0; } }
    .classical-glasses .classical-glasses-items li:nth-child(2) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; }
      @media (max-width: 992px) {
        .classical-glasses .classical-glasses-items li:nth-child(2) {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row; } }

.design-glasses {
  padding-top: 60px;
  padding-bottom: 80px;
  background: url("../images/bg.png") center; }
  .design-glasses h2 {
    margin-bottom: 40px; }
    @media (max-width: 767px) {
      .design-glasses h2 {
        font-size: 20px;
        line-height: 48px; } }
  .design-glasses .design-glasses-items {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 767px) {
      .design-glasses .design-glasses-items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .design-glasses .design-glasses-items li {
      width: 48%;
      position: relative; }
      @media (max-width: 992px) {
        .design-glasses .design-glasses-items li {
          font-size: 32px; } }
      @media (max-width: 767px) {
        .design-glasses .design-glasses-items li {
          width: 100%;
          margin-bottom: 16px; } }
    .design-glasses .design-glasses-items h3 a {
      color: #AA0601;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
      .design-glasses .design-glasses-items h3 a:hover {
        color: #f15a5a; }

.recommend {
  padding: 60px; }
  .recommend h2 {
    margin-bottom: 40px; }

.recommend-card {
  width: 22%;
  margin-right: 4%;
  border-radius: 4px 4px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .recommend-card:nth-child(4) {
    margin-right: 0; }
  .recommend-card img {
    width: 100%;
    height: auto;
    border-radius: 4px 4px 0px 0px; }
  @media (max-width: 992px) {
    .recommend-card {
      width: 48%;
      margin-bottom: 32px; }
      .recommend-card:nth-child(2) {
        margin-right: 0; } }
  @media (max-width: 767px) {
    .recommend-card {
      width: 100%;
      margin-bottom: 32px;
      margin-right: 0; } }
  .recommend-card .recommend-card-body {
    min-height: 204px;
    border: #DEE2E6 1px solid;
    padding: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
  .recommend-card .recommend-card-body-content {
    margin-bottom: 76px; }
    .recommend-card .recommend-card-body-content h4 {
      margin-bottom: 8px; }

.title {
  padding-top: 96px;
  padding-bottom: 160px; }
  .title h2 {
    margin-bottom: 60px;
    padding-left: 16px;
    border-left: 8px solid #9F1213; }
  .title .qa {
    margin-top: 36px; }
    .title .qa p {
      margin-top: 16px;
      margin-bottom: 32px;
      margin-left: 95px;
      font-weight: normal;
      line-height: 1.5; }
  @media (max-width: 767px) {
    .title h2 {
      font-size: 28px;
      border-left: 4px solid #9F1213; }
    .title h3 {
      font-size: 20px; }
    .title .qa h4 {
      font-size: 16px; }
    .title .qa p {
      margin-left: 0; } }

.area-select {
  margin-bottom: 32px; }
  .area-select .form-select {
    width: 30%; }
  @media (max-width: 767px) {
    .area-select {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .area-select .form-select {
        width: 70%; } }

.area-select-title {
  margin-right: 22px; }
  @media (max-width: 767px) {
    .area-select-title {
      font-size: 14px; } }

.area-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 992px) {
    .area-items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.area-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  border: 1px solid #00000020; }
  @media (max-width: 992px) {
    .area-card {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 100%;
      margin-bottom: 32px;
      border: none; } }
  @media (max-width: 767px) {
    .area-card {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .area-card .area-card-img {
    width: 100%;
    height: 53%;
    -o-object-fit: cover;
       object-fit: cover; }
    @media (max-width: 992px) {
      .area-card .area-card-img {
        width: 50%;
        margin-right: 32px; } }
    @media (max-width: 767px) {
      .area-card .area-card-img {
        width: 100%; } }
  .area-card .area-cardbody {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
    .area-card .area-cardbody h3 {
      padding: 12px 24px;
      line-height: 36px;
      border-bottom: 1px solid #00000020; }
    .area-card .area-cardbody ul {
      padding: 16px 27px; }
      .area-card .area-cardbody ul li {
        margin-bottom: 14px; }
    @media (max-width: 992px) {
      .area-card .area-cardbody {
        width: 50%;
        border: 1px solid #00000020;
        margin: 15px 0; }
        .area-card .area-cardbody h3 {
          padding: 8.5px 16px;
          font-size: 16px;
          line-height: 24px; }
        .area-card .area-cardbody ul {
          padding: 16px 24px; }
          .area-card .area-cardbody ul li {
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 16px; } }
    @media (max-width: 767px) {
      .area-card .area-cardbody {
        width: 100%; } }

.map {
  border-bottom: 1px solid #00000020;
  width: 57%;
  background: url("../images/locate/map.png") no-repeat;
  background-size: cover; }
  @media (max-width: 992px) {
    .map {
      width: 100%;
      height: 422px; } }

/*# sourceMappingURL=all.css.map */
